@font-face {
  font-family: 'gt-eesti';
  src: url("../fonts/gt-eesti-display-bold-webfont.eot");
  src: url("../fonts/gt-eesti-display-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/gt-eesti-display-bold-webfont.woff2") format("woff2");
  font-weight: bold; }

@font-face {
  font-family: 'gt-eesti';
  src: url("../fonts/gt-eesti-display-regular-webfont.eot");
  src: url("../fonts/gt-eesti-display-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/gt-eesti-display-regular-webfont.ttf") format("truetype");
  font-weight: normal; }

html, body, #app, #app > div {
  font-family: 'gt-eesti', 'Open Sans', sans-serif; }

.fullscreen {
  width: 100vw;
  height: 100vh; }
